<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BudgetHelper</title>
    <style>
        a:link, a:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: red;
        }   </style>
</head>
<body>
    <h3>Witaj {{ user }}! Dobrze zajmiemy się twoimi pieniędzmi ;)</h3>
    <a href="{{ url_for('salary') }}">Zarobki</a>
    <a href="{{ url_for('costs') }}">Koszta</a>
    <a href="{{ url_for('sumary') }}">Zestawienie</a>
    <a href="{{ url_for('login') }}">Wyloguj</a>
</body>
</html>