<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budger Helper</title>
    <style>
        a:link, a:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: red;
        }   </style>
</head>
<body>
      <h2>Witaj w BudgetHelperze mordo!</h2>
      <h3>Zaloguj się!</h3>
      <form method="POST">
        <div class="txt_field">
            <label>Username</label>
          <input type="text" name="username">
        </div>
        <div class="txt_field">
            <label>Password</label>
          <input type="password" name="password" >
        </div>
        <input type="submit" name="foo" value="Login">
          <br>
          {{ message }}
      </form>
      <a href="{{ url_for('register')}}">Zarejestruj się!</a>
    </div>
</body>
</html>