<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BudgetHelper</title>
    <style>
        a:link, a:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: red;
        }   </style>
</head>
<body>
Wydajesz {{ procent_zarob }}% tego ile zarobiłeś
<br>
Na jedzenie przeznaczasz {{ suma_food }}zł stanowi {{ p1 }}% twoich wydatków
<br>
Na życie przeznaczasz {{ suma_live }}zł stanowi {{ p2 }}% twoich wydatków
<br>
Na usługi przeznaczasz {{ suma_serv }}zł stanowi {{ p3 }}% twoich wydatków
<br>
Na oszczędności przeznaczasz {{ suma_steal }}zł stanowi {{ p4 }}% twoich wydatków
<br>
<br>
<label for="cat">Wybierz kategorię wydatku którą chcesz rozwinąć</label>
    <form method="POST">
            <select name="spendType" id="cat">
                <option value="food">Jedzenie</option>
                <option value="live">Koszty życia</option>
                <option value="services">Usługi</option>
                <option value="steal">Oszczędności</option>
            </select>
        <input type="submit" name="foo" value="Pokaż">
    </form>
<table>
    {% for i in result_db %}
     <tr><td><b>{{i}}</b></td></tr>
    {% endfor %}
</table>
    {% if suma_db %}
        <p>Wydajesz na to aż:</p>
    {{ suma_db }}
        <p>Co stanowi: </p>
        {{ procent_kw }}
        % Twojej wypłaty
    {% endif %}
<br>
<a href="{{ url_for('choice') }}">Wstecz</a>
<a href="{{ url_for('login') }}">Wyloguj</a>
</body>
</html>